{% extends 'base.html.twig' %}

{% block title %}Hello QuestionsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<form name="questionForm" action="/addAnswer" method="POST">
	    <div id="page1">
			{% for question in questions | slice(0, 5) %}
				<div class="list-group">
				  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				    <div class="d-flex w-100 justify-content-between">
				    	<h5 class="mb-1">{{ question.content }}</h5>
			      		<small>{{ weights ? weights[loop.index0] : 'N/A' }}</small>
				    </div>
				    <p class="mb-1">
				    	<label class="mr-4 p-2"><input type="radio" name="{{question.id}}" value="0" checked /> 0</label>
						<label class="mr-4 p-2"><input type="radio" name="{{question.id}}" value="1"  /> 1</label>
						<label class="mr-4 p-2"><input type="radio" name="{{question.id}}" value="2"  /> 2</label>
						<label class="mr-4 p-2"><input type="radio" name="{{question.id}}" value="3"  /> 3</label>
						<label class="mr-4 p-2"><input type="radio" name="{{question.id}}" value="4"  /> 4</label>
						<label class="p-2"><input type="radio" name="{{question.id}}" value="5"  /> 5</label>
				    </p>
				  </a>
				</div>
			{% endfor %}
		    <button type="button" class="btn btn-secondary" id="next">Next</button>
	    </div>
	    <div id="page2" style="display: none;">
			{% for question in questions | slice(5, 5) %}
				<div class="list-group">
				  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				    <div class="d-flex w-100 justify-content-between">
				    	<h5 class="mb-1">{{ question.content }}</h5>
				    	<small>{{ weights ? weights[loop.index0 + 5] : 'N/A' }}</small>
				    </div>
				    <p class="mb-1">
				    	<label class="mr-4 p-2"><input type="radio" name="{{question.id}}" value="0" checked /> 0</label>
						<label class="mr-4 p-2"><input type="radio" name="{{question.id}}" value="1"  /> 1</label>
						<label class="mr-4 p-2"><input type="radio" name="{{question.id}}" value="2"  /> 2</label>
						<label class="mr-4 p-2"><input type="radio" name="{{question.id}}" value="3"  /> 3</label>
						<label class="mr-4 p-2"><input type="radio" name="{{question.id}}" value="4"  /> 4</label>
						<label class="p-2"><input type="radio" name="{{question.id}}" value="5"  /> 5</label>
				    </p>
				  </a>
				</div>
			{% endfor %}
		    <button type="button" class="btn btn-secondary" id="back">Back</button>
		    <button type="submit" class="btn btn-success" id="send">Submit</button>
	    </div>
	    </div>
	</form>
</div>

<script>
$(document).ready(function() {
	$('button#next').click(function() {
		$('div#page1').hide();
		$('div#page2').show();
	});

	$('button#back').click(function() {
		$('div#page2').hide();
		$('div#page1').show();
	});

	$('button#send').click(function() {

	});
});
</script>
{% endblock %}
